/* Global Rests */
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color: white;
    text-decoration: none;
    padding: 0 1em;
}

/* CONTAINER */
.container{
    /* background-color: #000; */
}
.navbar{
    background-color: #000;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}
.navbar__left-heading{
    color: white;
}
.navbar__right-button{
    background: linear-gradient(85deg,red 35%,yellow);
}